.cardContainer {
	padding: 1em;
	margin: 1em 0;
	border-radius: 4px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.flexWrapper {
	display: flex;
	justify-content: space-between;
}

.caseStudies {
	display: inline-block;
}

.contentWrapper {
	flex-shrink: 4;
}

.jobTitle,
.jobPeriod {
	margin: 0.5px;
}

.jobPeriod {
	font-size: 0.8em;
	font-style: italic;
}
