.container {
	max-width: 90vw;
	padding: 0 1rem;
	margin: 3rem auto 6rem;
}

.navBar {
	text-align: center;
	max-width: 90vw;
	padding-bottom: 1em;
}

.navBar a {
	margin: 0 5px;
	padding: 1px;
	letter-spacing: 1px;
}

.navBar a.currentPage {
	text-decoration: none;
}

.navBar a.currentPage::before {
	content: "-";
	margin: 0 1px;
	color: inherit;
}

.navBar a.currentPage::after {
	content: "-";
	margin: 0 1px;
	color: inherit;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #cad0fa;
	border-radius: 4px;
	padding: 2em;
}

.profileImage {
	border-radius: 50%;
}

p.current {
	margin: 0;
	justify-content: left;
	padding: 0.5em;
}

.backToHome {
	margin: 3rem 0 0;
}

@media screen and (min-width: 1200px) {
	.container {
		max-width: 50vw;
	}
}
